@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.header {
  outline: 3px solid red;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: 1fr 2fr;
}

.header-top-left {
  display: grid;
  grid-template-columns: 1fr 15fr;
  align-items: center;
  justify-items: right;
}

.header-top-left input {
  justify-self: left;
  border-radius: 10px;
  border-style: hidden;
  background-color: rgb(239, 241, 255);
  padding: 4px 200px;
  margin-left: 10px;
}

.header-top-right {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}

.header-top-right svg {
  justify-self: right;
}

.header-top-right img {
  justify-self: center;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.header img {
  border-radius: 50%;
}

.sidebar {
  outline: 3px solid rgb(45, 155, 35);
  grid-row: 1 / -1;
  display: grid;

}

.main-container {
  outline: 3px solid rgb(4, 0, 255);
  display: grid;
}
